@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex_space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex_align_left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@mixin flex_align_top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@mixin mediaQuery378px {
    @media (min-width: 378px) {
        @content
    }
}
@mixin mediaQuery425px {
    @media (min-width: 425px) {
        @content
    }
}
@mixin mediaQuery505px {
    @media (min-width: 505px) {
        @content
    }
}
@mixin mediaQuery1150px {
    @media (min-width: 1150px) {
        @content
    }
}