@use "colors" as *;
@use "mixin" as *;


.banner-section {
    min-height: 30vh;
    padding: 3rem 0;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url(../images/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        filter: brightness(20%);
        opacity: 0.7;
    }
    .banner-content {
        @include flex_center;
        min-height: 30vh;
        text-align: center;
        .content {
            color: white;
            .facebook-icon {
                color: white;
                font-size: 4rem;
            }
            h1 {
                margin: 0;
            }
            .banner-btn-div {
                margin-top: 2rem;
                .follow-me-btn {
                    border: 1px solid white;
                    padding: 1rem 2rem;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}