@use "colors" as *;
@use "mixin" as *;

.header {
    padding: 1rem 0;
    position: relative;
    min-height: 100vh;
    
    &:before {
        content: '';
        position: absolute;
        background-image: url(../images/photo5.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        inset: 0;
        filter: brightness(50%);
        opacity: 0.8;
        z-index: -1;
        background-attachment: fixed;
    }
    .nav-content {
        padding-top: 2rem;
        @include flex_space_between;
        img {
            border-radius: 50%;
            height: 80px;
            width: 80px;
        }
        .music-div {
            .contact-btn {
                text-decoration: none;
                color: white;
            }
            .music-btn {
                text-decoration: none;
                color: white;
                border: 1px solid white;
                padding: 1rem 1.5rem;
                margin-left: 2.5rem;
                transition: 0.2s ease-in-out;
                &:hover {
                    background: white;
                    color: black;
                }
            }

        }
    }
   .header-content {
    padding: 2rem 0;
    @include flex_center;
    flex-direction: column;
    min-height: 90vh;
    h2 {
        color: white;
        letter-spacing: 0.1rem;
        margin: 0 0;
        font-size: 1rem;
        @include mediaQuery425px {
            font-size: 1.8rem;
        }
    }
   
    h1 {
        font-size: 2.5rem;
        font-family: 'Kanit', sans-serif;
        color: white;
        letter-spacing: 0.1rem;
        margin: 0 0;

        @include mediaQuery425px {
            font-size: 4rem;
        }
    }
   
    .content {
        width: 80%;
        text-align: center;
        .book-div {
            margin-top: 3rem;
            .book-btn {
                border: 1px solid white;
                text-decoration: none;
                color: white;
                padding: 1rem 2rem;
                transition: 0.2s ease-in-out;
                &:hover {
                    background: $darkBlue;
                
                    border: 1px solid $darkBlue;
                }
            }
        }
    }
   }
    
}