@use "colors" as *;
@use "mixin" as *;


.navbar {
    padding: 3rem 0;
    background: $offBlack;
    nav {
        @include flex_space_between;
        flex-direction: column;
        .head {
            margin-bottom: .5rem;
            p {
                a {
                    text-decoration: none;
                    color: $textWhite;
                    font-size: 2rem
                }
            }
        }
        .nav-links {
            @include flex_space_between;
            li {
                list-style-type: none;
                margin: 0 2rem;
                a {
                    text-decoration: none;
                    color: $textWhite;
                }
                a.active {
                    border-bottom: 1px solid $textWhite;
                    padding-bottom: .5rem;
                }
            }
        }
    }
}