@use "header.scss";
@use "hero.scss";
@use "contact.scss";
@use "music.scss";
@use "banner.scss";

html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: min(85%, 100rem);
    max-width: 1450px;
    margin-inline: auto;
}